body{
    display: flex;
    justify-content: center;
}

.div1{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    border-radius:30px;
}

#home{
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 3px;
}

#home:hover{
    color: white;
    background-color: blue;
    transition: 0.25s;
}